@model FinalProjectCompanyProgram.Models.User
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To The Door World!</h1><br /><br />
        @if (User.Identity.IsAuthenticated)
        {
    <p>Dear @User.Identity.Name,</p><br />
            <p>We hope you'll enjoy this page. For more information please contact Gvidas.</p>
        }

    </div>
